* {
  font-size: 20px;
  margin: 0;
  padding: 0; }

body {
  background-color: #2979ff;
  position: relative; }

.order__card {
  background-color: white;
  border-radius: 5px;
  height: 10vh;
  width: 56vw;
  margin-left: 3vw;
  margin-bottom: 2vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-right: 3vw;
  padding-left: 3vw; }

.order__card > span {
  margin-right: 3vw; }

.order {
  margin: 0 3vw 0 3vw; }

.message__top {
  margin-left: 3vw;
  margin-top: 3vw;
  margin-bottom: 2vw;
  font-size: 3vw;
  color: white; }
  .message__top span {
    font-size: 1vw; }

.message__bottom {
  margin-left: 3vw;
  margin-bottom: 2vw;
  color: white; }

.message__datetime {
  position: absolute;
  left: 61vw; }

.order {
  display: -ms-flexbox;
  display: flex; }

.order__textbook {
  width: 55vw;
  margin-right: 3vw;
  height: 20vw;
  overflow-y: scroll; }

.order__datetime {
  width: 10vw;
  height: 20vw; }

.textbook {
  background-color: white;
  width: 50vw;
  height: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 1vw;
  border-radius: 3px; }
  .textbook .DOW {
    background-color: green;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 70px;
    width: 70px;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    margin-right: 2vw;
    border-radius: 3px; }
    .textbook .DOW-1 {
      background-color: #ffd54f; }
    .textbook .DOW-2 {
      background-color: #ff8a65; }
    .textbook .DOW-3 {
      background-color: #64b5f6; }
    .textbook .DOW-4 {
      background-color: #81c784; }
    .textbook .DOW-5 {
      background-color: #bcaaa4; }
  .textbook .textbook__name {
    margin-left: auto;
    padding-right: 1vw;
    display: -ms-inline-flexbox;
    display: inline-flex; }

.date__top {
  font-family: 'Roboto', sans-serif;
  font-size: 6vw;
  width: 9vw;
  height: 9vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  border-radius: 5px 5px 0 0; }

.date__middle {
  border-radius: 0 0 5px 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 4vw;
  float: left;
  width: 9vw;
  height: 6vw;
  background-color: #FFF;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 1vw; }

.date__bottom {
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
  width: 9vw;
  height: 3vw;
  background-color: #FFF;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }

.H {
  background-color: #ff7043; }

.M {
  background-color: #FFA726; }

.L {
  background-color: #66bb6a; }

.btn {
  width: 10vw;
  height: 5vw;
  font-size: 3vw; }

.Button {
  margin-left: 3vw;
  display: -ms-flexbox;
  display: flex; }

a.btn {
  border: none;
  border-radius: 2px;
  color: white;
  margin-top: 10px;
  padding: 10px 10px;
  text-decoration: none;
  transition: 0.2s;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: white;
  margin-right: 1vw;
  font-size: 1.5vw;
  width: 15vw; }
  a.btn:hover {
    background: forestgreen; }

a.datetime__edit {
  background: #ffa000; }
  a.datetime__edit:hover {
    background: #c67100; }

a.order__edit {
  background-color: #ffa000; }
  a.order__edit:hover {
    background: #c67100; }

a.cancel {
  background: #f4511e; }
  a.cancel:hover {
    background: #b91400; }

a.back {
  position: absolute;
  width: 10vw;
  height: 3vw;
  background-color: #4caf50;
  right: 34vw;
  top: -4vh; }