@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  font-size: 20px;
  font-family: 'Roboto';
  margin: 0;
  padding: 0; }

body {
	background-color:#0d47a1;
}
.ninja {
	background-color:#0d47a1;
}
.message {
	display:flex;
	justify-content:center;
	color:#FFF;
	font-size:2vw;
	margin-top:2.5vw;
	margin-bottom:2.5vw;
}

table {
	display:flex;
	justify-content:center;
	border-spacing: 3px;
}
th, td {
	background: #FFF;
	border-radius: 3px;
	width: 5vw;
	height: 4vw;
	text-align: center;
	font-weight:normal;
}

td a {
	text-decoration: none;
	color: #FFF;
	display:flex;width:100%;height:100%;
	justify-content:center;
	align-items: center;

}
table:hover tr:hover td {
    color: #FFF;
    background: #002171;
}
table:hover tr:hover a {
    color: #FFF;
}
table:hover tr:hover .Time {
    background: #FFA726;
}
table:hover tr:hover .ninja {
    background: #0d47a1;
}
.H {
  background-color: #ff7043; }

.M {
  background-color: #FFA726; }

.L {
  background-color: #4caf50; }

.back {
  position: absolute;
  left: 3vw;
  top: 3vw;
  height: 5vw;
  width: 9vw;
  font-size: 1.5vw;
  border-radius: 2px;
  background-color: #0d47a1;
  text-decoration: none;
  color: #FFF;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  transition: 0.5s all ease; }
  .back:hover {
    background-color: #FFF;
    color: #0d47a1; }
